<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
    <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <a href="/empresa/novo" class="btn btn-primary">Novo</a>
            <table class="table">
                <thead>
                    <tr>
                       <th>Id</th>
                       <th>Nome</th>
                       <th>Franquiados</th>
                    </tr>
                </thead>  
                <tbody>
                    <tr th:each="Empresa : ${listaEmpresa}">
                        <td th:text="${Empresa.id}"></td>
                        <td th:text="${Empresa.nome}"></td>
                        
                    </tr>
                </tbody>    
            </table>
        </main>
        <footer th:include="layout :: footer"></footer>
    </body>
</html>