<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
    <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/franquiados/(form)}" method="POST" th:object="${franquiado}" class="row g-3">
                <h2>Cadastre um novo Franquiado:</h2>
                <input type="hidden" th:field="*{id}">
                <div class="col-md-6">
                    <label for="txtnome" class="form-label">Nome:</label>
                    <input type="text" th:field="*{nome}" class="form-control" id="txtnome"> 
                    <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger"></p>   
                </div> 
                <div class="col-md-6">
                    <label for="txtemail" class="form-label">E-mail:</label>
                    <input type="text" th:field="*{email}" class="form-control" id="txtemail"> 
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></p>   
                </div> 
                <div class="col-md-6">
                    <label for="txttelefone" class="form-label">Telefone:</label>
                    <input type="text" placeholder="(00) 0 0000-0000" th:field="*{telefone}" class="form-control" id="txttelefone">   
                    <p th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}" class="alert alert-danger"></p>
                </div> 
                <div class="col-md-6">
                    <label for="txtCNPJ">CNPJ:</label>
                    <input placeholder="XX. XXX. XXX/0001-XX." type="text" th:field="*{CNPJ}" class="form-control" id="txtCNPJ"> 
                    <p th:if="${#fields.hasErrors('CNPJ')}" th:errors="*{CNPJ}" class="alert alert-danger"></p>   
                </div>   
                <div>
                    <div class="form-group">
                        <label for="txtLogradouro">Logradouro:</label>
                        <input type="text" th:field="*{endereco.logradouro}"class="form-control" id="txtLogradouro">
                        <p th:if="${#fields.hasErrors('endereco.logradouro')}" th:errors="*{endereco.logradouro}" class="alert alert-danger"></p>
                    </div>
                    <div class="form-group">
                        <label for="txtBairro" class="form-label">Bairro:</label>
                        <input type="text" th:field="*{endereco.bairro}"class="form-control" id="txtBairro">
                    </div>
                </div>
                
                <div class="col-md-2">
                    <label for="categoria" class="form-label">UF</label>
                    <select class="form-control" id="uf" th:field="*{endereco.uf}">
                        <option value="">Selecione...</option>
                        <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf}"></option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="txtCidade" class="form-label">Cidade:</label>
                    <input type="text" th:field="*{endereco.cidade}"class="form-control" id="txtCidade">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </main>
        <footer th:include="layout :: footer"></footer>
        <script type="text/javascript" th:src="@{/app.js}"></script>
    </body>
</html>