<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
    <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <h2>Controle de Franquiados:</h2>
            <a href="/franquiados/novo" class="btn btn-primary">Novo</a>
            <table class="table table-bordered" id="tabfranquiados">
                <thead>
                    <tr>
                       <th>Id</th>
                       <th>Nome</th>
                       <th>E-mail</th>
                       <th>Telefone</th>
                       <th>CNPJ</th>
                       <th>Logradouro</th>
                       <th>Bairro</th>
                       <th>UF</th>
                       <th>Cidade</th>
                       <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="umFranquiado : ${listaFranquiados}">
                       <td th:text="${umFranquiado.id}"></td>
                       <td th:text="${umFranquiado.nome}"></td>
                       <td th:text="${umFranquiado.email}"></td>
                       <td th:text="${umFranquiado.telefone}"></td>
                       <td th:text="${umFranquiado.CNPJ}"></td>
                       <td th:text="${umFranquiado.endereco.logradouro}"></td>
                       <td th:text="${umFranquiado.endereco.bairro}"></td>
                       <td></td>
                       <td th:text="${umFranquiado.endereco.cidade}"></td>
                       
                       <td></td>
                       <td></td>
                       <td> 
                            
                           <a th:href="@{'franquiados/alterar/' + ${umFranquiado.id}}" class="btn btn-warning">Alterar</a>
                           <button class="btn btn-danger js-delete" th:data-id="${umFranquiado.id}">Excluir</button>
                       </td>
                    </tr>
                </tbody>
            </table>   
        </main>
        <div class="modal" tabindex="-1" id="modalfranquiados">
            <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Franquiado</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <p>Confirma a exclusão do franquiado?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btnnao"  data-bs-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" id="btnsim" >Sim</button>
            </div>
            </div>
            </div>
          </div>
        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/script.js}"></script>
        <script type="text/javascript" th:src="@{/app.js}"></script>
    </body>
</html>