<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <h2>Controle de Funcionários</h2>
        <a href="/funcionarios/novo" class="btn btn-primary">Novo</a>
        <table class="table table-bordered" id="tabfuncionarios">
            <thead>
                <tr>
                   <th>Id</th>
                   <th>Nome</th>
                   <th>E-mail</th>
                   <th>Telefone</th>
                   <th>CPF</th>
                   <th>RG</th>
                   <th>Idade</th>
                   <th>Endereço</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="umFuncionario : ${listaFuncionarios}">
                    <td th:text="${umFuncionario.id}"></td>
                    <td th:text="${umFuncionario.nome}"></td>
                    <td th:text="${umFuncionario.email}"></td>
                    <td th:text="${umFuncionario.telefone}"></td>
                    <td th:text="${umFuncionario.cpf}"></td>
                    <td th:text="${umFuncionario.rg}"></td>
                    <td th:text="${umFuncionario.idade}"></td>
                    <td th:text="${umFuncionario.bairro}"></td>
                    <td></td>
                    <td> 
                       <a th:href="@{'funcionarios/alterar/' + ${umFuncionario.id}}" class="btn btn-warning">Alterar</a>
                       <button class="btn btn-danger js-delete" th:data-id="${umFuncionario.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table> 
    </main>
    <footer th:include="layout :: footer"></footer>
    </body>
</html>