<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>
    <body>
    <!-- <nav th:replace="layout :: menu"></nav> -->
    <main class="container">
        <h2>Controle de Funcionários</h2>
        <a href="/funcionarios/novo" class="btn btn-primary">Novo</a>
        <table class="table table-bordered" id="tabfuncionarios">
            <thead>
                <tr>
                   <th>Id</th>
                   <th>Nome</th>
                   <th>Idade</th>
                   <th>E-mail</th>
                   <th>Telefone</th>
                   <th>CPF</th>
                   <th>Logradouro</th>
                   <th>Bairro</th>
                   <th>UF</th>
                   <th>Cidade</th>
                   <th>Editar</th>
                </tr>
            </thead>
            <tbody>


                   <td th:text="${umFuncionario.id}"></td>
                   <td th:text="${umFuncionario.nome}"></td>
                   <td th:text="${umFuncionario.idade}"></td>
                   <td th:text="${umFuncionario.email}"></td>
                   <td th:text="${umFuncionario.telefone}"></td>
                   <td th:text="${umFuncionario.cpf}"></td>
                   <td th:text="${umFuncionario.endereco.logradouro}"></td>
                   <td th:text="${umFuncionario.endereco.bairro}"></td>
                   <td></td>
                   <td th:text="${umFuncionario.endereco.cidade}"></td>
                   
                   <td></td>
                   <td></td>
                   <td> 
                        
                       <a th:href="@{'funcionarios/alterar/' + ${umFuncionario.id}}" class="btn btn-warning">Alterar</a>
                       <button class="btn btn-danger js-delete" th:data-id="${umFuncionario.id}">Excluir</button>
                   </td>
                </tr>
            </tbody>
        </table> 
    </main>
    <footer th:include="layout :: footer"></footer>
    </body>
</html>