<!DOCTYPE html>
<html lang="en">
<head>
   
</head>
<body>
    <main>
        <section>
            <form action="">
                <label for="uf">UF:</label>
                <select id="uf">
                    <option value=""></option>
                </select>
                <label for="cidade">Cidade:</label>
                <select id="cidade">
                    <option value=""></option>
                </select>
            </form>
        </section>
    </main>
    <script type="text/javascript" src="/src/main/resources/static/app.js"></script>
</body>
</html>