<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <head th:include="layout :: head"></head> 
        <nav th:replace="layout :: menu"></nav>
    <body>

    <main class="cards">
    <div id="bloco">
        <section class="card funcionario">
            <div class="icon">
                <img src="/css/img/franquiado.png" alt="franquiado">
            </div>
            <div class="card-header">Franquiados</div>
            <div class="card-body">
                <h6 class="card-title text-center">Quantidade Atual</h6>
                <p class="card-text text-center"><span style="font-size: 40px;"  th:text=${estoque.qtd_franquiado}></span></p>
        </section>

        <section class="card produto">
            <div class="icon">
                <img src="/css/img/produtos.png" alt="produtos">
            </div>
            <div class="card-header">Produtos</div>
            <div class="card-body">
                <h6 class="card-title text-center">Quantidade Atual</h6>
                <p class="card-text text-center"><span style="font-size: 40px;"  th:text=${estoque.qtd_produto}></span></p>
              </div>
        </section>

        <section class="card funcionario">
            <div class="icon">
                <img src="/css/img/funcionario.png" alt="funcionario">
            </div>
            <div class="card-header">Funcionários</div>
            <div class="card-body">
                <h6 class="card-title text-center">Quantidade Atual</h6>
                <p class="card-text text-center" ><span style="font-size: 40px;" th:text=${estoque.qtd_funcionario}></span></p>
        </section>
    </div>
   
    </main>
  
    <footer th:include="layout :: footer"></footer>
    </body>
</html>