@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@900&display=swap');
body{
    margin:0;
    padding: 0%;
    box-sizing: border-box;
    font-family: Poppins;
    background-color: #dbe5fa;
    font-size: 1.2rem;
}
h2{
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 80px;
  text-align: center;

}
h3{
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 2rem;

}
.topnav {
    overflow: hidden;
    background-color:#3E8AFF;
    position: relative;

  }
.topnav #myLinks {
    display: none;
}
.topnav a {
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

  }
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav .links a:hover {
    color: black;
    background-color: azure;
}
.logo {
    color: white;
}

/* 
  PROCUARAR SOBRE O MEDIA SCRENN E TROCAR A MARGIN DISSO AQUI
  h2{
  font-variant-caps: all-small-caps;
  font-weight: bold;
  font-size: 3rem;
  margin-top: 10%;

}


*/