body{
    box-sizing: border-box;
}
div.cards{
    display: flex;
    flex-direction: row;
    
}
section{
    border: solid 1px black;
    height: 400px;
    width: 400px;
    justify-content: space-between;
}
.navbar-custom .navbar {
   background-color: aqua;
}
main{

}