<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATERIA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
</head>
<body>

    <!-- <nav th:fragment="menu" class="navbar">
      <div class="topnav">
        <h1 href="#home" class="logo">Sistema Chocolateria</h1>
        <div id="myLinks" class="links">
          <a href="/franquiados">Franquiado</a>
          <a href="/funcionarios">Funcionário</a>
          <a href="/produtos">Produto</a>
          <a href="/vendas">Venda</a>
          <a href="/estoque">Estoque</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars" style="font-size:40px"></i>
        </a>
      </div>
      </nav> -->

     <main th:fragment="principal"></main>

      <footer th:fragment="footer">
          <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
          <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
      </footer>    
</body>
</html>
