<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHOCOLATERIA</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/geral.css}">
</head>
<body>

    <!-- <nav th:fragment="menu" class="navbar">
      <div class="topnav">
        <h1 href="#home" class="logo">Sistema Chocolateria</h1>
        <div id="myLinks" class="links">
          <a href="/franquiados">Franquiado</a>
          <a href="/funcionarios">Funcionário</a>
          <a href="/produtos">Produto</a>
          <a href="/vendas">Venda</a>
          <a href="/estoque">Estoque</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars" style="font-size:40px"></i>
        </a>
      </div>
      </nav> -->
      <nav th:fragment="menu" class="navbar  fixed-top"  style="background-color: #3E8AFF;">
        <div class="container-fluid">
          <h3 style="color: whitesmoke;">Sistema Chocolateria</h3>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/franquiados">Franquiado</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/produtos">Produtos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/funcionarios">Funcionário</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/vendas">Vendas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/estoque">Controle de Estoque</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

     <main th:fragment="principal"></main>

      <footer th:fragment="footer">
          <script th:src="@{/webjars/jquery/3.6.1/dist/jquery.min.js}"></script>
          <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
          <script th:src="@{/webjars/jquery-mask-plugin/1.14.16/dist/jquery.mask.js}"></script>
      </footer>    
</body>
</html>
