<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:include="layout :: head"></head>

<body>
    <!-- <nav th:replace="layout :: menu"></nav> -->
    <main class="container">
        <form th:action="@{/produtos/(form)}" method="POST" th:object="${produto}" class="row g-3">

            <input type="hidden" th:field="*{id}" class="form-control">

            <div class="form-group">
                <label for="txtmarca">Marca:</label>
                <input type="text" th:field="*{marca}" class="form-control" id="txtmarca">
                <p th:if="${#fields.hasErrors('marca')}" th:errors="*{marca}" class="alert alert-danger">
                </p>
            </div>
            <div class="form-group">
                <label for="txttipo">Tipo:</label>
                <input type="text" th:field="*{tipo}" class="form-control" id="txttipo">
                <p th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}" class="alert alert-danger"></p>
            </div>
            <div class="form-group">
                <label for="txtvalor ">Valor:</label>
                <input type="text " th:field="*{valor}" class="form-control" id="txtvalor">
                <p th:if="${#fields.hasErrors('valor')}" th:errors="*{valor}" class="alert alert-danger"></p>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </main>
    <footer th:include="layout :: footer"></footer>
</body>

</html>