<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <head th:include="layout :: head"></head> 
        <nav th:replace="layout :: menu"></nav>
    <body>
    <main class="cards">
        <section class="card funcionario">
            <div class="icon">
                <img src="/css/img/franquiado.png" alt="franquiado">
            </div>
            <h3>Cadastre um Franquiado</h3>
            <span>Clique no botão para cadastrar um novo Franquiado</span>
            <a href="/franquiados" class="button">Cadastre aqui</a>
        </section>

        <section class="card produto">
            <div class="icon">
                <img src="/css/img/produtos.png" alt="produtos">
            </div>
            <h3>Cadastre um Produto</h3>
            <span>Clique no botão para cadastrar um novo Produto</span>
            <a href="/produtos" class="button">Cadastre aqui</a>
        </section>

        <section class="card funcionario">
            <div class="icon">
                <img src="/css/img/funcionario.png" alt="funcionario">
            </div>
            <h3>Cadastre um Funcionário</h3>
            <span>Clique no botão para cadastrar um Funcionário</span>
            <a href="/funcionarios" class="button">Cadastre aqui</a>
        </section>

        <section class="card venda">
            <div class="icon">
                <img src="/css/img/venda.png" alt="vendas">
            </div>
            <h3>Cadastre uma nova Venda</h3>
            <span>Clique no botão para cadastrar uma nova Venda</span>
            <a href="/vendas" class="button">Cadastre aqui</a>
        </section>
        <section class="card estoque">
            <div class="icon">
                <img src="/css/img/estoque.png" alt="estoque">
            </div>
            <h3>Controle de Geral</h3>
            <span>Clique no botão para acessar o Controle de Geral</span>
            <a href="/estoque" class="button">Controle Geral</a>
        </section>
    </main>
    <footer th:include="layout :: footer"></footer>
    </body>
</html>